@media only screen and (max-width: 320px) {
	aside.controls {
  	visibility: visible;
		font-size: 40%;
	}
	aside.controls.left {
    left: -60%;
    top: -3em;
	}
	aside.controls.right {
    top: -3em;
    left: 65%;
	}
	aside.controls.up {
    right: 35%;
    top: -70%;
	}
	aside.controls.down {
    right: 35%;
    top: 66%;
	}
}

@media only screen and (max-width: 375px) {
	aside.controls {
  	visibility: visible;
		font-size: 40%;
	}
	aside.controls.left {
    left: -67%;
    top: -2em;
	}
	aside.controls.right {
    top: -2em;
    left: 70%;
	}
	aside.controls.up {
    right: 37%;
    top: -72.5%;
	}
	aside.controls.down {
    right: 37%;
    top: 67%;
	}
}

@media only screen and (max-width: 425px) {
	aside.controls {
  	visibility: visible;
		font-size: 40%;
	}
	aside.controls.left {
    left: -67%;
    top: -2em;
	}
	aside.controls.right {
    top: -2em;
    left: 70%;
	}
	aside.controls.up {
    right: 37%;
    top: -72.5%;
	}
	aside.controls.down {
    right: 37%;
    top: 67%;
	}
}

@media only screen and /*(max-device-width: 480px) and*/ (min-device-width: 320px) {
	aside.controls {
    visibility: visible;
		font-size: 40%;
	}
	aside.controls.left {
    left: -65%;
    top: -3.5em;
	}
	aside.controls.right {
    top: -3.5em;
    left: 67%;
	}
	aside.controls.up {
    right: 37%;
    top: -70%;
	}
	aside.controls.down {
    right: 37%;
    top: 62.5%;
	}
	
	div#ux.container.content {
    margin-top: -5em;
	}
	
	.row.ribbon {
		width: 50%;
		font-size: 50%;
	}
	
	h4.describe {
		font-size: 80%;
	}
	h2.header-title {
    font-size: 350%;
	}
	h2#ux-title {
    font-size: 950%;
	}
	h3.notes {
    font-size: 80%;
	}
	div#press-content {
		margin-left: -0.5em;
	}
	h3.title.press {
    font-size: 105%;
	}
	div#quote {
    font-size: 100%;
	}
	.tag.btn-link {
		color: rgba(51, 51, 51, 0.33);
		font-size: 80%;
	}
}

@media /*(max-width: 510px) and */ (min-width: 480px) {
	.container.content {
		/*width: 400px;*/
		width: 88%;
	}
	aside.controls {
		font-size: 50%;
	}
	aside.controls.left {
			left: -72%;
			top: -2.5em;
		}
		aside.controls.right {
				top: -2.5em;
				left: 72%;
		}
		aside.controls.up {
				right: 40.5%;
    		top: -79%;
		}
		aside.controls.down {
				right: 40.5%;
    		top: 69.5%;
		}
	div#ux.container.content {
    margin-top: 0em;
	}
	
	.row.ribbon {
		width: 70%;
		font-size: 60%;
	}
	.row.cate {
		width: 58.5%;
		font-size: 45%;
	}
	.row.cate.border {
    border-top: 3px solid rgba(247, 113, 98, 0.75);
    padding: 2.75% 0 0 0;
	}
	
	h4.describe {
		font-size: 70%;
	}
	h2.header-title {
    font-size: 325%;
	}
	h2#ux-title {
    font-size: 500%;
	}
	
	.row.linksthree {
		width: 100%;
	}
	.row.linksthree div.R {
		margin-left: 0;
	}
	
	a.btn, {
		/*font-size: 115%;*/
		font-size: 90%;
	}
	a.btn.two {
		font-size: 95%;
	}
	div#press-content {
		padding: 0;
		margin-left: auto;
	}
	div#tag {
		padding: 0.5em 0 1em 0;
	}
	.tag.btn-link {
		font-size: 65%;
	}
	div#icons {
		margin-top: -0.25em;
		font-size: 140%;
	}
}

@media (min-width: 511px) {
	.container.content {
		/*width: 450px;*/
		width: 86%;
	}
	.reveal .controls {
		font-size: 60%;
	}
		aside.controls.left {
			left: -80.5%;
			top: -2.5em;
		}
		aside.controls.right {
				/*right: 0.65em;*/
				top: -2.5em;
				left: 78%;
		}
		aside.controls.up {
				right: 43.5%;
    		top: -81%;
		}
		aside.controls.down {
				right: 43.5%;
    		top: 68.5%;
		}
	
	.row.ribbon {
		width: 60%;
		font-size: 50%;
	}
	.row.cate {
		width: 50%;
		font-size: 37%;
	}
	.row.cate.border {
    border-top: 2px solid rgba(247, 113, 98, 0.75);
    padding: 2.75% 0 0 0;
	}
	
	h4.describe {
		font-size: 57%;
	}
	h2.header-title {
    font-size: 290%;
	}
	h3.notes {
    font-size: 70%;
		letter-spacing: 0.3em;
	}
	
	.row.linkstwo {
    width: 85%;
	}
	.row.linksthree {
		width: 110%;
		margin-left: -1em;
	}
	.col-xs-12.tab {
	width: 33.33333333% !important;
	}
	#linksthree-links.col-xs-12.space {
		width: 50%;
	}
	
	a.btn {
		font-size: 70%;
	}
	a.btn.two {
		font-size: 75%;
	}
	a.btn.smaller {
		font-size: 50%;
	}
}

@media (min-width: 675px) {
	.container.content {
		/*width: 650px;*/
		width: 86%;
	}
	
	.reveal .controls {
		font-size: 80%;
	}
		aside.controls.left {
			left: -85.5%;
			top: -3em;
		}
		aside.controls.right {
				top: -3em;
				left: 78.5%;
		}
		aside.controls.up {
    right: 45.5%;
    top: -82.5%;
		}
		aside.controls.down {
    right: 45.5%;
    top: 60%;
		}
	
	.row.ribbon {
		width: 50%;
		font-size: 40%;
	}
	.row.cate {
		width: 41.75%;
		font-size: 31%;
	}
	.row.cate.border {
    border-top: 2px solid rgba(247, 113, 98, 0.5);
    padding:1.75% 0 0 0;
	}
	
	h4.describe {
		font-size: 52%;
	}
	h3.notes {
    font-size: 49%;
	}
	
	.row.linkstwo {
		width: 65%;
	}
	.row.linksthree {
		width: 100%;
		margin-left: auto;
	}
	.row.linksfour {
		width: 90%;
	}
	.row.linksfour.col-sm-6 {
		width: 50%;
	}
	
	a.btn {
		font-size: 65%;
	}
	a.btn.two {
		font-size: 60%;
	}
	h3.title.press {
    font-size: 92.5%;
	}
	div#quote {
    font-size: 95%;
	}
	.tag.btn-link {
    color: rgba(245, 245, 245, 0.57);
    font-size: 50%;
	}
}
		
@media (min-width: 768px) {
	.container.content {
		/*width: 750px;*/
		width: 84%;
	}
	.container.nav {
		padding: 0;
	}
	
	.reveal .controls {
		font-size: 100%;
	}
		aside.controls.left {
			left: -86.5%;
			top: -2.5em;
		}
		aside.controls.right {
				top: -2.5em;
				left: 77.5%;
		}
		aside.controls.up {
    right: 47.75%;
    top: -85%;
		}
		aside.controls.down {
    right: 47.75%;
    top: 55.5%;
		}
	
	.row.ribbon {
		width: 45%;
		font-size: 35%;
	}
	.row.cate {
		width: 37.75%;
		font-size: 30%;
	}
	.row.cate.border {
    border-top: 1px solid rgba(247, 113, 98, 0.95);
    padding: 2% 0 0 0;
	}
	
	h4.describe {
		font-size: 45%;
	}
	h3.notes {
    font-size: 55%;
	}
	.row.linkstwo {
		width: 70%;
	}
	.row.linksthree {
		width: 80%;
	}
	.row.linksfour {
		width: 90%;
	}
	#linksthree {
		width: 110%;
    margin-left: -3.5%;
	}
	#digital-links {
    width: 88.5%;
    margin-left: -0.5%;
	}
	a.btn {
		font-size: 60%;
	}
	a.btn.two {
		font-size: 57%;
	}
	
	h3.title.press {
    font-size: 90%;
	}
	div#quote {
    font-size: 85%;
	}
	div#icons {
    margin-top: -0.3em;
    width: 60%;
	}
}

@media (min-width: 992px) {
	.container.content {
		/*width: 970px;*/
		width: 94%
	}
	aside.controls.left {
			left: -86.5%;
			top: -2.5em;
		}
	aside.controls.right {
			top: -2.5em;
			left: 79.5%;
	}
	aside.controls.up {
	right: 47.25%;
	top: -88%;
	}
	aside.controls.down {
	right: 47.25%;
	top: 57.5%;
	}
	.row.ribbon {
		width: 35%;
		font-size: 35%;
	}
	.row.cate {
		width: 29.25%;
		font-size: 25%;
	}
	.row.cate.border {
    border-top: 1px solid rgba(247, 113, 98, 0.95);
    padding: 1.5% 0 0 0;
	}
	.row.linksthree {
		width: 70%;
	}
	a.btn {
		font-size: 52%;
	}
	.row.linksfour {
		width: 110%;
		margin-left: -4.75%;
	}
	#linksthree {
		width: 100%;
    margin-left:auto;
	}
	#digital-links {
    width: 80%;
    margin-left: auto;
	}
	div#quote {
    font-size: 80%;
	}
	div#keywords {
    padding: 0;
		margin-bottom: 1em;
	}
	div#tag {
		padding: 0;
	}
	.tag.btn-link {
    color: rgba(245, 245, 245, 0.25);
    font-size: 35%;
	}
}

@media (min-width: 1200px) {
	.container.content {
		/*width: 1170px;*/
		width: 125%;
    margin-left: -12%;
	}
	.reveal .controls {
		font-size: 90%;
	}
	aside.controls.left {
			left: -88.5%;
			top: -2.75em;
		}
	aside.controls.right {
			top: -2.75em;
			left: 82.5%;
	}
	aside.controls.up {
	right: 48%;
	top: -84%;
	}
	aside.controls.down {
	right: 48%;
	top: 59.5%;
	}
	.row.ribbon {
		width: 35%;
		font-size: 35%;
	}
	.row.cate {
		font-size: 27%;
	}
	#linkstwo {
    width: 50%;
	}
	.row.linksthree {
		width: 50%;
	}
	#linksthree {
		width: 75%;
	}
	#digital-links {
    width: 65%;
	}
	a.btn {
		font-size: 55.5%;
	}
	.row.linksfour {
		width: 90%;
		margin-left: 5.5%;
	}
	div#iphone-width {
		margin: -0.5em 0 0 -1em;
		width: 100%;
	}
	div#press-content {
		margin-top: 1em;
	}
	a#contact.btn {
		margin-top: -0.5em;
	}
	div#quote {
		font-size: 100%;
	}
	div#quote small {
		font-size: 40%;
	}
	p.demo-text {
		font-size: 60%;
	}
	div#keywords {
		margin-bottom: 0.5em;
	}
	div#icons {
		width: 42.5%;
	}
	
}


/*@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
	
}
@media (max-width: 510px) and (min-width: 321px)
@media (min-width: 511px)
@media (min-width: 675px)
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
	
}*/