html {
	background: transparent;
  /*background: url(https://s-media-cache-ak0.pinimg.com/originals/2f/55/4f/2f554fae217f777b3d506a1cbd9ff989.gif);*/
  z-index: -1;
}

.particle, #particle {
  z-index: 100;
}
